.home {
    &__hero {
        @apply h-screen relative z-0;

        &-forms {
            @apply absolute inset-0 -z-10;
        }

        &-wave-top {
            background: url("/svg/home-hero-wave.svg") no-repeat;
            background-size: 100%;
            @apply inset-0 absolute bg-top;

            @include lg {
                @apply hidden;
            }
        }

        &-wave-bottom {
            background: url("/svg/home-hero-wave-bottom-2.svg") no-repeat;
            background-size: 150%;
            @apply inset-0 absolute bg-bottom;

            @include lg {
                background-size: 110%;
                padding: 1vw;
                margin: -1vw;
            }
        }

        &-circle-top {
            @include lg {
                background: url("/svg/home-hero-circle-top.svg") no-repeat;
                background-size: 30vw;
                background-position-y: -17vw;
                background-position-x: -10vw;
                @apply absolute inset-0 -z-10;
            }
        }

        &-circle {
            @include lg {
                background: url("/svg/home-hero-circle.svg") no-repeat;
                background-size: 50vw;
                background-position-x: 80vw;
                @apply absolute inset-0 -z-10;
            }
        }

        &-wrapper {
            @apply h-full w-full py-36 flex items-center px-8;

            @include lg {
                padding: 0 10vw;
            }
        }

        &-text {
            @apply relative text-center;

            @include --text-xl;

            @include lg {
                @apply text-left;
            }
            
            .circle {
                @apply absolute inline-block rounded-full drop-shadow-sm -z-10 p-8;
                background: $red;

                @include lg {
                    padding: 3vw;
                }

                &:nth-child(1) {
                    top: -20px;
                    left: 20px;

                    @include lg {
                        top: auto;
                        padding: 4vw;
                        left: 5vw;
                        bottom: -3vw;
                    }
                }

                &:nth-child(2) {
                    @apply p-12;
                    bottom: -60px;
                    left: 30px;

                    @include lg {
                        bottom: auto;
                        padding: 3vw;
                        left: -3vw;
                        top: -3vw;
                    }
                }

                &:nth-child(3) {
                    @apply p-10 z-0;
                    right: -10px;
                    top: 30px;

                    @include lg {
                        padding: 5vw;
                        right: -2vw;
                        top: -6vw;
                    }
                }
            }
        }
    }

    &__about {
        @apply h-screen relative z-0;
        background: $red;
        color: $white;

        &-forms {
            @apply absolute inset-0 -z-10;
        }

        &-wave {
            background: url("/svg/home-about-wave.svg") no-repeat;
            background-size: 100%;
            @apply inset-0 absolute bg-bottom;

            @include lg {
                background-size: 110%;
                padding: 1vw;
                margin: -1vw;
            }
        }

        &-wrapper {
            @apply h-full w-full py-36 flex items-center justify-center px-8;

            @include lg {
                padding: 0 10vw;
            }
        }

        &-text {
            @apply relative;
            
            @include --text-lg;

            @include lg {
                @apply text-center;
            }
        }
    }

    &__double {
        @apply h-screen relative z-0;
        background: $blue;
        color: $white;

        &-forms {
            @apply absolute inset-0 -z-10;
        }

        &-wave {
            background: url("/svg/home-double-wave.svg") no-repeat;
            background-size: 100%;
            @apply inset-0 absolute bg-bottom;

            @include lg {
                background-size: 110%;
                padding: 1vw;
                margin: -1vw;
            }
        }

        &-wrapper {
            @apply h-full w-full py-36 flex flex-col items-center space-y-16 p-8;

            @include lg {
                padding: 0 10vw;
                @apply flex-row space-x-24 space-y-0;
            }
        }

        &-text {
            @apply relative;

            @include --text-md;
            
            @include lg {
                @apply w-1/2;
            }

            .circle {
                @apply absolute inline-block rounded-full drop-shadow-sm p-8 -z-10;
                background: $red;

                @include lg {
                    padding: 3vw;
                }

                &:nth-child(1) {
                    top: -20px;
                    left: 20px;

                    @include lg {
                        top: auto;
                        padding: 4vw;
                        left: 5vw;
                        bottom: -3vw;
                    }
                }

                &:nth-child(2) {
                    @apply p-12;
                    bottom: -60px;
                    left: 30px;

                    @include lg {
                        bottom: auto;
                        padding: 3vw;
                        left: -3vw;
                        top: -3vw;
                    }
                }

                &:nth-child(3) {
                    @apply p-10 z-0;
                    right: -10px;
                    top: 30px;

                    @include lg {
                        padding: 5vw;
                        right: -2vw;
                        top: -6vw;
                    }
                }
            }
        }

        &-image {
            @apply relative w-full h-full;

            @include lg {
                @apply w-1/2
            }
        }
    }
}